[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
pandas = "*"
keras = "*"
autograd = "*"
ipywidgets = "*"
pyarrow = "*"
fastparquet = "*"

[requires]
python=3.8
